
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

h1.mt-4{
  text-shadow: 2px 2px black;
  margin-top: 1rem!important;
  font-weight: 400;
}


.btn-primary:hover{
	background-color:#1ab996!important;
	border-color:#1ab996!important;
}

.btn-primary{
	background-color:#309881!important;
	border-color:#309881!important;
    margin:5px;
}

.badge{
	background-color:#309881!important;
	border-color:#309881!important;
}

.frontpage {
  background-position-y: -35rem;
  height: 70vh;
  min-height: 300px;
  background: url('../img/frontpage.jpeg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

img.card-img-top {
  height: 200px!important;
}

.card {
  height: 100%;
}

.container-sidebar {
  float:right;
}

.list-group {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%!important;
}

.container {
    max-width: 940px;
    min-width: 940px;
}

