body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

h1.mt-4{
    text-shadow: 2px 2px black;
    margin-top: 1rem!important;
    font-weight: 400;
}


.btn-primary:hover{
    background-color:#1ab996!important;
    border-color:#1ab996!important;
}

.btn-primary{
    background-color:#309881!important;
    border-color:#309881!important;
    margin:5px;
}


.profile-img {
    height: 80px;
    width: 80px;
    background: white;
    border: 1px #309881 solid!important;
}

input[type="file"] {
    display: none;
}